// =====================
// Variables
// =====================

$primary-color: #26483e;
$secondary-color: #a293b2;
$jetblack: #1a1a1a;
$offwhite: #ede6dd;

// =====================
// Font Face Definitions
// =====================

@font-face {
  font-family: "Albert Sans";
  src: url("../assets/AlbertSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Bell MT";
  src: url("../assets/Bell MT Regular.otf") format("opentype");
}

// =====================
// Global Styles
// =====================

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Albert Sans", sans-serif;
}

@media (max-width: 600px) {
  .navbar {
    position: fixed;
    top: 0%;
    width: 100vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    will-change: transform, background-color;

    .nav-links {
      display: none; // Hide nav links on small screens
    }
    .logo {
      display: flex;
      width: 50vw;
      height: auto;
      will-change: transform;
      transform: translateY(10vh);
    }

    .button {
      display: none;
    }
  }

  .hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .slideshow {
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
        user-select: none;
      }
    }

    .ctrl {
      display: flex;
      width: 3vw;
      height: 15vw;
      padding: 0.2rem;
      border-radius: 1rem;
      border: none;
      position: absolute;
      justify-content: center;
      align-items: center;
      z-index: 3;
      cursor: pointer;

      &:hover {
        background-color: none; // Remove background color on hover
      }

      img {
        height: 70%;
        width: auto;
        transition: filter 0.3s ease;
      }
    }

    #prev {
      left: 1vw;
      bottom: 20vw;
    }

    #next {
      right: 1vw;
      bottom: 20vw;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;

      // Use gradient or solid black with opacity
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        // Top gradient color
        rgba(0, 0, 0, 0) // Bottom gradient color
      );

      pointer-events: none; // Let clicks pass through
      z-index: 1;
    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-block: 10vw;
    align-items: center;
    justify-content: center;
    height: auto;

    .image-container {
      width: 80vw;
      height: 180vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .image-card {
        display: flex;
        width: 45vw;
        height: 60vw;
        position: absolute;
        border-radius: 2rem;
        will-change: opacity, transform;
      }

      #card1 {
        z-index: 1;
        transform: translateX(-12vw) translateY(-50vw);
        background-color: #26483e;
      }
      #card2 {
        z-index: 1;
        transform: translateX(12vw) translateY(50vw);
        background-color: #a293b2;
      }
      #card3 {
        z-index: 3;
        transform: translateY(3vw);
        background-color: #b46b0a;
      }
    }

    .text-card {
      width: 80vw;
      display: flex;
      padding-inline: 2rem;
      text-align: justify;
      flex-direction: column;
      font-family: "Albert Sans", sans-serif;

      p {
        margin-bottom: 1rem;
        color: $jetblack;
        font-size: 0.9rem;
      }

      h2 {
        margin-bottom: 2vw;
      }
    }
  }
}
